# Is file ko ".env" naam se copy karo aur apni Binance Futures Testnet
# credentials daal do. Keys yaha se banao: https://testnet.binancefuture.com
# (API Key menu se)

BINANCE_API_KEY=VL7v0QPoXeQZggTOcwyWDyu1vsAK1Z9Z5F7y4RKWtb3MQjEb4FB5Nc1SKxZwTlD8
BINANCE_API_SECRET=vjYffNx7an7uhDAGD6JmpPkCQ5qmRuuTmMV0dWUr8IsdbPzxmwNX9VJoRmCyhgkW

# Optional - na do to official testnet URL default rehta hai
BINANCE_BASE_URL=https://testnet.binancefuture.com
